<div class="container">
    <div class="calc">
        <div class="title-calc">
            <h3>Calculadora</h3>
        </div>
        <div class="operations mt-2">
            <div class="prev-calc">{{operacaoAnterior}}</div>
            <div class="atual-calc">{{operacaoAtual}}</div>
        </div>
        <div class="btn-container mt-5">
            <button (click)="adicionaAoVisor('CE')">CE</button>
            <button (click)="adicionaAoVisor('C')">C</button>
            <button (click)="adicionaAoVisor('DEL')">DEL</button>
            <button (click)="adicionaAoVisor('/')">/</button>
            <button (click)="adicionaAoVisor('7')" class="number">7</button>
            <button (click)="adicionaAoVisor('8')" class="number">8</button>
            <button (click)="adicionaAoVisor('9')" class="number">9</button>
            <button (click)="adicionaAoVisor('*')">*</button>
            <button (click)="adicionaAoVisor('4')" class="number">4</button>
            <button (click)="adicionaAoVisor('5')" class="number">5</button>
            <button (click)="adicionaAoVisor('6')" class="number">6</button>
            <button (click)="adicionaAoVisor('-')">-</button>
            <button (click)="adicionaAoVisor('1')" class="number">1</button>
            <button (click)="adicionaAoVisor('2')" class="number">2</button>
            <button (click)="adicionaAoVisor('3')" class="number">3</button>
            <button (click)="adicionaAoVisor('+')">+</button>
            <button (click)="adicionaAoVisor('.')" class="number">.</button>
            <button (click)="adicionaAoVisor('0')" class="number">0</button>
            <button (click)="adicionaAoVisor('=')" class="equal">=</button>
        </div>
    </div>
</div>
